.recommendation{
  text-align: center;
  padding:10px;
  max-width: 1280px;
  margin:25px;
  border-bottom: 1px solid #ccc;
}

.movies {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.movies .movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
